.cell {
  width: 80px;
  height: 95px;
  background: linear-gradient(180deg, rgb(235, 229, 229), rgba(121, 167, 167, 0.394));
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell strong {
  font-weight: bold; /* Yazının kalınlığını ayarlar */
  font-size: 3rem; /* Yazı boyutunu ayarlar */
}


.yellowCell {
  background: rgba(236, 236, 5, 0.834); /* Sarı renkte arka plan */
}









